.header {

}
.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  .left-logo{
    align-self: flex-start;
    img{
      max-width: 70px;
    }
  }
  .right-logo{
    align-self: flex-end;
    img{
      max-width: 300px;
    }
  }
}
