header {
  .logo {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
    .left-logo {
      img {
        width: 70px;
      }
    }
    .right-logo {
      .mobile-logo {
        width: 102px;
        margin-left: 30px;
      }
      .desktop-logo {
        display: none;
      }
    }
  }
}

nav {
  border-bottom: 5px solid #f89f1f;
  min-height: 30px;
  .navbar-toggler {
    position: absolute;
    top: -90px;
    right: 0;
    font-size: 1.7em;
    border: none;
  }
  ul {
    justify-content: center;

    li {
      margin: 13px 30px;
      a {
        font-size: 1.5em;
        font-weight: 500;
        color: #fff;
        &:hover {
          color: #f89f1f;
        }
        &:active {
          color: #f89f1f;
        }

      }
    }
  }
}

@media (min-width: 992px) {
  header {
    .logo {
      justify-content: space-between;
      .right-logo {
        .desktop-logo {
          width: 300px;
          display: block;
        }
        .mobile-logo {
          display: none;
        }
      }
    }
  }
  nav{
    #navbarNav{
      justify-content: center;
    }
  }
}
