header {
  .logo {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
    .left-logo {
      img {
        width: 70px;
      }
    }
    .right-logo {
      .mobile-logo {
        width: 102px;
        margin-left: 30px;
      }
      .desktop-logo {
        display: none;
      }
    }
  }
}

nav {
  border-bottom: 5px solid #f89f1f;
  min-height: 30px;
  position: relative;
  background-color: #000;
  .navbar-toggler {
    position: absolute;
    top: -90px;
    left: 86%;
    font-size: 1.7em;
    border: none;
  }
  ul {
    justify-content: center;
    
    

    .dropdown-submenu {
      position: relative;
      .dropdown-menu-custom {
        
        margin-left: 0;
        margin-right: 0;
        background-color: #000;
        li {
          margin-left: 0;
          margin-right: 0;
          list-style-type: none;
        }
      }
      
    }
    li {
      margin: 13px 30px;
    }
  }
}
.navbar-light .navbar-toggler-icon {
  background: url(/assets/img/menu-without-text.png) center center no-repeat;
  width: 100%;
  &:after {
    content: "Menu";
    bottom: -35px;
    position: relative;
    color: #000;
    font-size: 19px;
  }
}
.navbar-collapse {
  position: absolute;
  top: 8px;
  background-color: black;
  right: 0px;
  width: 85%;
  z-index: 99;
}
@media (min-width: 992px) {
  header {
    .logo {
      justify-content: space-between;
      .right-logo {
        .desktop-logo {
          width: 300px;
          display: block;
        }
        .mobile-logo {
          display: none;
        }
      }
    }
  }
  nav {
    #navbarNav {
      position: initial;
      justify-content: center;
      .dropdown-submenu {
        .dropdown-menu-custom {
          position: absolute;
          width: 200%;
          left: -50%;
          padding-left: 20px;
          display: none;
        }
        &:hover{
          .dropdown-menu-custom{
            display: block;
          }
        }
      }
    }
  }
}
