.headline {
  color: #fff;
  position: relative;
  padding: 30px 0;
  background-color: #01a0b8;
  p {
    .date {
      font-size: 1.5em;
      font-weight: 500;
      &:after {
        content: "\A";
        white-space: pre;
      }
    }
  }
  .author {
    font-weight: bold;
  }
  .headline-bt {
    img {
      width: 100%;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: 4px solid $base;
  }
}
.main-content {
  background-color: #fff;
  position: relative;
  z-index: 9;
  h3 {
    margin: 5px 0;
  }
  .bar {
    background-color: $green;
    padding: 8px 15px;
    color: #fff;
    h3 {
      font-weight: bold;
    }
  }
  .container-small {
    margin: 30px;
    h4 {
      margin-top: 20px;
      margin-bottom: 30px;
      font-weight: bold;
    }
    .readmore {
      a {
        // &:not(.collapsed) {
        //   &:after {
        //     content: "\25BC";
        //     content: "\25B2";
        //   }
        // }
        &:after {
          content: "\25BC";
          
        }

        color: $lightBlack;
        text-decoration: underline; 
      }
    }
    .agenda-section-title{
      font-size: 2.25em;
      color: $green;
      font-weight: bold;
    }
    .agenda-section-content{
      display: flex;
      
      flex-wrap: wrap;
      div{
        &:first-child{
          width: 30%;
        }
      }
      p{
        font-size: 1.5em;
        font-weight: bold;
      }
      .agenda-section-content-title{
        .agenda-section-content-title-content{
          p{
            font-size: 16px;
            font-weight: initial;
          }
        }
      }
    }
    
  }
  .img-circle-border {
    text-align: center;
    .img-circle-border-item {
      h3 {
        margin-top: 30px;
        text-decoration: underline;
      }
    }
  }
}

.intro {
  h2 {
    margin: 20px 0;
  }
  ul {
    display: none;
  }
  .col-lg-8 {
    padding-top: 37px;
  }
}
/*popup*/
.modal-backdrop {
  display: none;
}
.modal {
  .modal-body {
    text-align: initial;
    p {
      &:first-child {
        font-size: initial;
      }
    }
  }
}
.modal-dialog {
  max-width: 55%;
}
.social-programme-inner {
  .social-programme-item {
    border: 1px solid #efefef;
    padding: 35px 20px;
    margin-top: 30px;
    box-shadow: 0 0 30px #aaaaaa;
    img {
      width: 100%;
    }
    button {
      background-color: #01a0b8;
      padding: 12px 60px;
      margin-top: 30px;
      font-size: 1.3em;
      color: #fff;
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .headline {
    min-height: 352px;
  }
}
@media (min-width: 1201px) {
  .headline {
    min-height: 264px;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  #main {
    overflow: hidden;
  }
  .headline {
    background: url("../../assets/img/dotted_map_white.png") center center
      #01a0b8;
    background-size: cover;

    h2 {
      .big-text {
        font-size: 1.5em;
      }
      font-size: 3em;
    }
    p {
      .date {
        font-size: 1.5em;
        &:after {
          content: " | ";
        }
      }
      .author {
        font-size: 1.5em;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 208%;
      left: -54%;
      height: 782px;
      bottom: -275%;
      position: absolute;
      background: #fff;
      border-radius: 49%;
      border: 9px solid $base;
    }
  }
  .intro {
    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 50px 0;
        img {
          width: 100%;
        }
      }
    }
    p {
      .paragraph-big-text {
        font-size: 1.5em;
      }
    }
  }
  .main-content {
    .bar {
      background-color: #01a0b8;
      padding: 8px 15px;
      color: #fff;
    }
    h3 {
      font-size: 2.25em;
    }
    .img-circle-border {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      text-align: center;
      .img-circle-border-item {
        width: 270px;
        margin: 0 40px;
        &:first-child {
        }
        h3 {
          font-weight: bold;
        }
        img {
          border: 10px solid #f7941c;
        }
      }
    }
  }
  .social-programme-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .social-programme-item {
      width: 48%;
      img {
        width: 100%;
      }
      h3 {
        font-weight: bold;
      }
      h4 {
        margin: 40px 0;
      }
      button {
        background-color: #01a0b8;
        padding: 12px;
        font-size: 1.3em;
        color: #fff;
      }
    }
  }
}
