nav {
  background-color: black;

  border-bottom: 5px solid #f89f1f;
  ul {

    justify-content: center;
    
    li {
      margin: 13px 30px;
      a {
        font-size: 1.5em;
        font-weight: 500;
        color:#fff;
        &:hover{
          color: #f89f1f;
        }
      }
      
    }
  }
}
